config l7stats config

    # MQTT topic is comprised of a prefix and concatenated with the mac address of the specified intrface.
    option topic_prefix 'netifyd'
    option topic_interface 'eth1'

    # l7stats supports username and password auth in current versions
    option mqtt_username 'username'
    option mqtt_password 'changeme!'
    option mqtt_server_addr '127.0.0.1'

    # This is the path to the socket providing JSON byte stream
    option socket_path '/var/run/netifyd/netifyd.sock'
